.main {
    position: relative;
}

.box {
    display: block;
    border: 2px solid red;
    position: absolute;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;

}

.hidden {
    display: none;
}